<div class="example-container">
    <mat-card class="destination">
         <h4> Available Destination</h4>
        <mat-list>
            <mat-list-item (click)="show=!show"> YAOUNDE </mat-list-item>
            <mat-list-item> DOUALA </mat-list-item>
            <mat-list-item> BAFOUSSAM </mat-list-item>
            <mat-list-item> BAMENDA </mat-list-item>
           </mat-list>
    </mat-card>

    <mat-card clas="yde">
            <h4> Departure Time</h4>
           <mat-list>
               <mat-list-item> 6:00AM </mat-list-item>
               <mat-list-item> 9:00AM</mat-list-item>
               <mat-list-item> 12:00PM</mat-list-item>
               <mat-list-item> 15:00PM </mat-list-item>
               <mat-list-item> 18:00PM </mat-list-item>
               <mat-list-item> 20:00PM </mat-list-item>
              </mat-list>
       </mat-card>
   <mat-card class="dla">
        
   </mat-card>
   
   <mat-card class="baf">
        
    </mat-card>

    <mat-card class="bda">
        
        </mat-card>

</div>