.example-container{
    margin-left: 5%;
    margin-top: 3%;
    
}

 .destination,.time{
    display:inline-block;
    vertical-align: top;
    width:42%;
    margin-bottom:2%;

}
.time{
    margin-right:2%;
    margin-left:2%;
}

.btn{
    margin-left:80%;
    margin-bottom:1%;
}