.greetings{
    margin-left: 45%; 
    padding:10px; 
       
   }
   .dash-card{
    width: 50%;
    margin-left:25%;
    margin-top:2%;
}
.btn1{
    margin-left:50%;
}
.tool{
    width:60%;
    margin-left:20%;
    margin-top:2%;
}