.dash-card{
    width: 50%;
    margin-left:25%;
    margin-top:2%;
}
.greetings{
 margin-left: 45%;   
    
}
.btn1{
    margin-left:50%;
}
.tool{
    margin-top:2%;
    width: 60%;
    margin-left: 20%;
}
