<div class="my-background">
  <mat-toolbar class="tool"><span class="greetings">SEARCH CLIENTS</span></mat-toolbar>
 <mat-card class="dash-card">
<mat-form-field>
    <mat-select placeholder="Destination">
      <mat-option *ngFor="let destination of destinations" [value]="destination.value">
        {{destination.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field>
      <mat-select placeholder="Departure Time">
        <mat-option *ngFor="let time of times" [value]="time.value">
          {{time.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <!--  <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
        -->
        <br/>
      <button mat-raised-button color="primary" [routerLink]="['/navbar/view-clients']" class="btn1">View Selected Clients</button>
      
    </mat-card>
   
      </div>