.table {
    width: 80%;
    margin-left:10%;
    margin-top: 2%;
}
  .greetings{
    margin-left: 45%; 
    padding:10px; 
       
   }
   .tool{
    width:60%;
    margin-left:20%;
    margin-top:2%;
}
  