.example-container{
    margin-top :3%;
    width:60%;
    margin-left:20%;
    margin-right:20%;
}

.dest,.time{
    text-align: center;
}
.dest{
    padding-top:3%;
}

.app-input{
    width:60%;
    padding-left:20%;
}

.line{
    width: 20%;
    background-color:red;
}

.btn{
   margin-left:20%;
    size: 8%;
}
.btn1{
    padding-left: 5%;
}