<div class="example-container mat-elevation-z2">
    <h3 class="dest"> Destination:Yaounde </h3>
    <h3 class="time"> Departure Time: 6:00AM </h3>

    <form class="app-form" [formGroup]="form">
        <mat-form-field class="app-input">
            <input type="text" matInput formControlName="name" class="form-control" placeholder="Name" required>
        </mat-form-field>
        <br>

        <mat-form-field class="app-input">
            <input type="text" matInput formControlName="surname" class="form-control" placeholder="Surname" required>
        </mat-form-field>
        <br>
        <mat-form-field class="app-input">
            <input type="number" matInput formControlName="id" class="form-control" placeholder="Id card Number" required>
        </mat-form-field>
        <br>

        <mat-form-field class="app-input">
            <input type="number" matInput formControlName="tarif" class="form-control" placeholder="Tarif" required>
        </mat-form-field>
        <br>
        <mat-form-field class="app-input">
            <input matInput [matDatepicker]="picker" placeholder="Enter date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <div class="avail">
        <p>Red : Occupied</p>
        <p>Green: Available</p>
        </div>

        <h4 class="dest"> Select a Sit</h4>
    <hr class="line">

    <mat-card class="seat">
        <mat-checkbox>01 driver</mat-checkbox> 
        <mat-checkbox>02</mat-checkbox>
        <mat-checkbox>03</mat-checkbox><br>
        <mat-checkbox>04</mat-checkbox>
        <mat-checkbox>05</mat-checkbox>
        <mat-checkbox>06</mat-checkbox>
        <mat-checkbox>07</mat-checkbox>
        <mat-checkbox>08</mat-checkbox><br>
        <mat-checkbox>09</mat-checkbox>
        <mat-checkbox>10</mat-checkbox>
        <mat-checkbox>11</mat-checkbox>
        <mat-checkbox>12</mat-checkbox>
        <mat-checkbox>13</mat-checkbox><br>
        <mat-checkbox>14</mat-checkbox>
        <mat-checkbox>15</mat-checkbox>
        <mat-checkbox>17</mat-checkbox>
        <mat-checkbox>18</mat-checkbox>
        <mat-checkbox>19</mat-checkbox><br>
        <mat-checkbox>20</mat-checkbox>
        <mat-checkbox>21</mat-checkbox>
        <mat-checkbox>22</mat-checkbox>
        <mat-checkbox>23</mat-checkbox>
        <mat-checkbox>24</mat-checkbox><br>
        <mat-checkbox>25</mat-checkbox>
        <mat-checkbox>26</mat-checkbox>
        <mat-checkbox>27</mat-checkbox>
        <mat-checkbox>28</mat-checkbox>
        <mat-checkbox>29</mat-checkbox><br>
        <mat-checkbox>30</mat-checkbox>
        <mat-checkbox>31</mat-checkbox>
        <mat-checkbox>32</mat-checkbox>
        <mat-checkbox>33</mat-checkbox>
        <mat-checkbox>34</mat-checkbox><br>
        <mat-checkbox>35</mat-checkbox>
    </mat-card>
       
    <mat-form-field class="app-input">
        <input type="number" matInput formControlName="seatNumber" class="form-control" placeholder="Seat Number" required>
    </mat-form-field>
    <br>
    <mat-form-field class="app-input">
        <input type="text" matInput formControlName="carNumber" class="form-control" placeholder="Car Number" required>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" class="btn">Save</button>
    <button mat-raised-button color="warn" class="btn1">cancel</button>
        
    </form>
</div>