.example-container{
    margin-top :3%;
    width:60%;
    margin-left:20%;
    margin-right:20%;
}

.dest,.time{
    text-align: center;
}
.dest{
    padding-top:3%;
}

.app-input{
    width:60%;
    padding-left:20%;
}

.line{
    width: 20%;
    background-color:red;
}

.btn{
   margin-left:30%;
    margin-top:5%;
    margin-bottom: 5%;
}
.btn1{
    margin-left: 8%;
}
.avail{
    padding-left: 20%;
}
.seat{
    margin-left: 30%;
    width: 40%;
}