
.header {
    text-align: center;
    font-style: italic;
    margin-top:2%;
    
}
.image{
    height:50%;
    width:60%;
    padding-left:20%;
}

.para{
    padding-top: 1%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
    letter-spacing: 1px;
}