<div class="example-container">
    <h2 class="header">AbOUT US</h2>

    <div>
            <img src="assets/images/bus5.jpg" alt="image" class="image">
            
            </div>
          
    <p class="para">
       Crimson Bus Reservation System is a web based system 
        which will help both bus owners and passengers to ease the 
        ticketing process in Buea and in Cameroon in general.This system is build by level 
        500 students (both Software and Networking) from the prestigious Faculty of 
        Engineering and Technology (FET) in the University of Buea. This system will become 
        operational as from Decemeber when we graduate from the university.We will be located in 
        Mile 17 car station where almost all agencies in Buea are found.
    </p>
</div>