.dash-card{
    width: 50%;
    margin-left:25%;
    margin-top:5%;
}
.greetings{
 margin-left: 45%;   
    
}
.heading{
    margin-left: 30%;
}
.btn1{
    margin-left: 200px;
}

.btn2{
    margin-left: 50px;
}
.add{
    margin-left: 80%;
}
