<div>
  <span class="greetings">WELCOME MANAGER</span>
  <mat-card class="dash-card">
      <button mat-raised-button color="primary"  class="add" [routerLink]="['/search-clients']">View clients</button>
    <span class="heading">AVAILABLE DESTINATION</span>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item>
        YAOUNDE
        <button mat-raised-button color="primary" class="btn1" [routerLink]="['/edit-destination']">Edit</button>
        <button mat-raised-button color="warn"  class="btn2">Delete</button>

      </mat-list-item>
      <mat-list-item>
        DOUALA
        <div  class="btn1">
        <button mat-raised-button color="primary" >Edit</button>
        <button mat-raised-button color="warn"   class="btn2">Delete</button>
</div>
      </mat-list-item>
      <mat-list-item>
        BAFFOUSAM
        <div  class="btn1">
        <button mat-raised-button color="primary" >Edit</button>
        <button mat-raised-button color="warn"   class="btn2">Delete</button>
</div>
      </mat-list-item>
      <mat-list-item>
        BAMENDA
        <button mat-raised-button color="primary"  class="btn1">Edit</button>
        <button mat-raised-button color="warn"   class="btn2">Delete</button>

      </mat-list-item>
    </mat-list>
    <button mat-raised-button color="primary"  class="add">Add</button>
  </mat-card>

</div>